<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.jurassicspb.cookbooksearchbyingredients">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--android:screenOrientation="portrait"-->
        <activity android:name=".IngredientDetailActivity">

        </activity>

        <!--android:screenOrientation="portrait"-->
        <activity android:name=".RecipeListActivity">

        </activity>

        <!--android:screenOrientation="portrait"-->
        <activity android:name=".RecipeDetailActivity"
            android:theme="@style/DetailRecipeTheme">

        </activity>

        <!--android:screenOrientation="portrait"-->
        <activity android:name=".FavoritesActivity">

        </activity>

        <!--android:screenOrientation="portrait"-->
        <activity android:name=".FullListActivity">

        </activity>

        <!--android:screenOrientation="portrait"-->
        <activity android:name=".nav_drawer_extras.WeightsAndMeasures">

        </activity>

        <!--android:screenOrientation="portrait"-->
        <activity android:name=".nav_drawer_extras.CookingTime">

        </activity>

        <!--android:screenOrientation="portrait"-->
        <activity android:name=".IngedientTablayoutActivity"
            android:configChanges="orientation|screenSize">
        </activity>

        <!--android:screenOrientation="portrait"-->
        <activity android:name=".ProgressBarActivity"
            android:theme="@style/ProgressBarTheme">

        </activity>

        <!--android:screenOrientation="portrait"-->
        <activity android:name=".CategoriesActivity">

        </activity>

        <!--android:screenOrientation="portrait"-->
        <activity android:name=".CategoriesListActivity">

        </activity>

        <activity android:name=".LoadingScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
