<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.jurassicspb.cookbooksearchbyingredients">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".IngredientDetailActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".RecipeListActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".RecipeDetailActivity"
            android:theme="@style/DetailRecipeTheme"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".FavoritesActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".FullListActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".nav_drawer_extras.WeightsAndMeasures"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".nav_drawer_extras.CookingTime"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".IngedientTablayoutActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ProgressBarActivity"
            android:theme="@style/ProgressBarTheme"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".LoadingScreenActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
